@keyframes fade-in{
	from {opacity: 0}
	to {opacity: 1}
}

html {
	font-family: 'Roboto', sans-serif;
	background-image: url(../img/bg.gif);
	background-size: cover;
	background-attachment: fixed;
	background-position: center;

	animation-name: fade-in;
	animation-duration: 3s;
}

hr {
	border-top: none;
}

.wrapper {
	width: 400px;
	border: 10px;
	color: white;
	margin-top: 5%;
	transition: width 0.5s;
}

.wrapper a {
	color: white;
}

.info {
	font-size: 1.2em;
}

.submithub {
	height: 150px;
	width: 400px;
}

.channel {
	width: 400px;
	background-color: rgba(0, 0, 0, 0.7);
	overflow: hidden;
	margin-bottom: 20px;
}

.name {
	margin-left: 8em;
	text-align: left;
}

.text {
	margin: 0;
	margin-left: 8em;
	text-align: left;
}

.pfp {
	max-height: 120px;
	float: left;
}

@media screen and (max-width: 410px) {
	.wrapper {
		width: 300px;
	}

	.submithub {
		width: 300px;
	}

	.channel {
		width: 300px;
	}
}