@keyframes fade-in{
	from {opacity: 0}
	to {opacity: 1}
}

html {
	font-family: 'Roboto', sans-serif;
	background-image: url(../img/bg.gif);
	background-size: cover;
	background-attachment: fixed;
	background-position: center;

	animation-name: fade-in;
	animation-duration: 3s;
}

.wrapper {
	width: 400px;
	border: 10px;
	color: white;
	margin-top: 5%;
	transition: width 0.5s;
}

.wrapper a {
	color: white;
}

.info {
	font-size: 1.2em;
}

@media screen and (max-width: 410px) {
	.wrapper {
		width: 300px;
	}
}